.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    text-align: center;
}

.item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}.about-images {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-images img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}